body{
    background-color: wheat;
    color: tomato;
    text-align: justify;
}

h1{
    color: brown;
    font-size: 30px;
    text-align: center;
}

h2{
    color: darkgoldenrod;
    font-size: 22px;
    text-align: center;
}

p{
    text-align: justify;
}